<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">


    <display-name>display-name>My Web Application</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <!--<param-value>classpath:camel-config.xml</param-value>-->
        <param-value>classpath:META-INF/spring/kiyoung-csb-route.xml</param-value>
    </context-param>

    <!-- the listener that kick-starts Spring -->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

	<!-- Camel servlet -->
	<!-- <servlet> <servlet-name>CamelServlet</servlet-name> <servlet-class>org.apache.camel.component.servlet.CamelHttpTransportServlet</servlet-class> 
		<load-on-startup>1</load-on-startup> </servlet> Camel servlet mapping <servlet-mapping> 
		<servlet-name>CamelServlet</servlet-name> <url-pattern>/camel/*</url-pattern> 
		</servlet-mapping> -->


    <!-- CSB servlet mapping -->
    <servlet>
        <servlet-name>CSBServlet</servlet-name>
        <servlet-class>org.apache.camel.component.servlet.CamelHttpTransportServlet</servlet-class>
        <init-param>
            <param-name>matchOnUriPrefix</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CSBServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>

    <!-- CSB servlet endcoding -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/services/*</url-pattern>
    </filter-mapping>

</web-app>